<div class="main">


    <div class="guide_box">

        <!-- <div class="article_title font" *ngIf="article">
            <h1>{{ article.title }}</h1>
        </div>
         -->

        <div class="article" *ngIf="article">



            <div *ngFor="let section of article.sections; let i = index">
                <div (mouseenter)="mouseOver(i)" (mouseleave)="mouseLeave(i)" class="section_heading font">
                    
                    <div class="header">
                        <h2>{{ section.heading }}</h2>
                    </div>
                    <div class="test animate__animated animate__fadeIn" *ngIf="hoveredSectionIndex === i">
                        <ul class="font">
                            <li *ngFor="let content of section.content">{{ content }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>