.navbar-font {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

.navbar-font-element {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

@media screen and (max-width:700px) {

    .navbar-font {
        font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: white;
    }

    .navbar-font-element {
        font-weight: 400;
        font-size: 9px;
        font-style: normal;
    }
}