.navbar_button_box {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar_button {
  margin-right: 20px;
  display: flex;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  align-items: center;
}

.navbar_button:hover {
  background: rgba(0, 0, 0, 0.562);
}

.navbar_button_arrow_left {
  transform: rotateZ(90deg);
}

.navbar_button_element {
  margin-right: 20px;
  display: flex;
  border-radius: 15px;
  position: relative;
  right: -500vh;
  width: auto;
  padding: 0 10px;
  height: 48px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  align-items: center;
}

.navbar_button_element a {
  padding: 20px 100px;
}

.navbar_button_element:hover {
  background: rgba(0, 0, 0, 0.562);
}

.navbar_reset_position {
  right: 0vh;
  position: relative;
}

.navbar_button_element a {
  text-decoration: none;
  color: white;
}


@media screen and (max-width:700px) {

  .navbar_button_box {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar_button {
    display: flex;
    border-radius: 15px;
    width: 15vw;
    position: relative;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    justify-content: center;
    align-items: center;
  }

  .navbar_button_element a {
    padding: 0px !important;
  }

  .navbar_button:hover {
    background: rgba(0, 0, 0, 0.562);
  }

  .navbar_button_arrow_left {
    transform: rotateZ(90deg);
  }

  .navbar_button_element {
    display: flex;
    border-radius: 15px;
    position: relative;
    right: -500vh;
    width: 5vw;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    justify-content: center;
    align-items: center;
  }

  .navbar_button_element:hover {
    background: rgba(0, 0, 0, 0.562);
  }

  .navbar_reset_position {
    right: 0vh;
    position: relative;
  }

  .navbar_button_element a {
    text-decoration: none;
    color: white;
  }

}