<div class="main">


    <div class="species_box">

        <div class="home_header">

            <h3 class="font header"> Welcome to Monstera Garden</h3>
            <h3 class="animate__animated animate__wobble  animate__repeat-3 animate_faster font header">
                👋</h3>
        </div>


    </div>

    <div class="species_box_2">

        <div class="species_box_2_left"><img src="../../../assets/gallery/width_550.webp" alt=""></div>
        <div class="species_box_2_right font text_l">Monstera Garden site was created with one purpose in mind: to bring
            the beauty and tranquility of lush greenery into your life. </div>
    </div>


    <div class="species_box_3">

    </div>

</div>