<div class="main">


    <div class="div_about_us animate__animated animate__fadeIn animate_slower">

        <div class="glass text_box_about_us">

            <div class="text_header_about_us">
                <h2>ABOUT-US</h2>
            </div>

            <div class="text_hide_about_us">
                <p class="text_font_about_us">
                    Welcome to Monstera Garden, a sanctuary for green enthusiasts and garden beginners alike! Whether
                    you're
                    taking your first steps into the world of gardening or seeking to deepen your knowledge, you've
                    found the
                    perfect spot. 🌱
                </p>
                <p class="text_font_about_us">
                    At Monstera Garden, we're dedicated to unraveling the mysteries and unlocking the secrets of these
                    captivating plants. The Monstera, with its lush foliage and intriguing growth patterns, has captured
                    the
                    imagination of plant lovers worldwide. 🌿✨
                </p>
                <p class="text_font_about_us">
                    Our mission is simple: to provide you with the essential know-how and insider tips to cultivate and
                    care for
                    Monstera plants successfully. From propagation techniques to troubleshooting common issues, we've
                    got you
                    covered every step of the way. 📚💡
                </p>
                <p class="text_font_about_us">
                    But Monstera Garden is more than just a repository of information. It's a community—a place where
                    enthusiasts can come together to share their experiences, ask questions, and celebrate the beauty of
                    these
                    remarkable plants. 🌿🌟
                </p>
                <p class="text_font_about_us">
                    So whether you're a seasoned gardener looking to expand your collection or a curious newcomer eager
                    to
                    embark on your green journey, join us at Monstera Garden. Together, let's dive into the world of
                    Monstera
                    plants and unlock their full potential. 🌿🔓✨
                </p>
            </div>
        </div>
    </div>

    <div class="div_contact animate__animated animate__fadeIn animate_slower" *ngIf="this.showContact">

        <div class="glass text_box_contact">

            <div class="text_header_contact">
                <h3>CONTACT 📧</h3>

                <div class="list_box_contact">
                    <a class="mail" href="mailto:krystian.maniewskii@gmail.com"> <i class="fa fa-google"></i> E-mail:
                        krystian.maniewskii&#64;gmail.com</a>
                    <a class="mail" href="https://github.com/riworbi"><i class="fa fa-github"></i> Github: Riworbi</a>
                    <a class="mail" href="https://www.linkedin.com/in/krystian-maniewski/"><i
                            class="fa fa-linkedin"></i> LinkedIn: Krystian Maniewski</a>

                </div>

            </div>

        </div>

    </div>

</div>