.main {
  padding-bottom: 60vh;
}

// ************************************** ABOUT US **************************************


.div_about_us {
  position: relative;
  display: flex;
  top: 100px;
  margin: 0 11%;
  align-items: center;
  justify-content: center;
}

.text_box_about_us {
  width: 150vh;
  height: 50px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  border-radius: 20px;
  padding: 50px;
  overflow: hidden;
}

.text_header_about_us {
  position: relative;
  left: 91%;
}

.text_font_about_us {
  font-size: 20px;
}

.text_hide_about_us {
  position: relative;
  opacity: 1;
}

// ************************************** CONTACT **************************************

.div_contact {
  position: relative;
  display: flex;
  top: 13vh;
  margin: 0 11%;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.text_header_contact {
  position: relative;
  margin: 0 auto;
}


.text_box_contact {
  width: 150vh;
  height: 200px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  border-radius: 20px;
  padding: 50px;
  overflow: hidden;
}

.mail {
  text-decoration: none;
  color: white;
  justify-content: baseline;
}


.list_box_contact {
  display: flex;
  flex-direction: column;
}

.list_box_contact a {
  margin-top: 20px;
}