.main {
  padding-bottom: 25vh;
  scroll-behavior: smooth;
}

.species_box {
  position: relative;
  display: flex;
  top: 100px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 20px 0;
  flex-wrap: wrap;
  width: 100%;
}

.m-b-20 {
  margin-bottom: 20px;
}

.large_font {
  font-size: 30px;
}


.plants-w a {
  text-decoration: none;
  margin: 20px;
  color: white;
  font-size: 20px;
}

.small_species_box {
  padding: 50px 50px;
  border-radius: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 30px
}