.species_box {
  position: relative;
  display: flex;
  top: 100px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 20px 0;
  flex-wrap: wrap;
  width: 100%;
}


.plants-w a{
  margin: 50px;
  color: white;
}


.plants-b a{
  margin: 50px;
  color: black;
}

.column{
  display: flex;
  flex-direction: column;
}