<div class="species_box">

    <div class="column">
        <div class="plants-w" *ngFor="let item of this.plants | async | slice: 0: getHalfLength(); index as i">
            <a href="https://www.google.com/search?q={{item.scientific_name}}">{{item.scientific_name}}</a>
        </div>
    </div>

    <div class="column">
        <div class="plants-b"
            *ngFor="let item of this.plants | async | slice: getHalfLength(): (this.plants | async)?.length; index as i">
            <a href="https://www.google.com/search?q={{item.scientific_name}}">{{item.scientific_name}}</a>
        </div>
    </div>

</div>